#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -f Makefile

override_dh_auto_clean:
	$(MAKE) -f Makefile clean
	rm -f debian/*.debhelper

override_dh_auto_install:
	# Install the binary from build directory
	install -D -m 755 build/my-daemon debian/my-daemon/usr/sbin/my-daemon

override_dh_builddeb:
	dh_builddeb
