#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc -Wall -O2 -o src/my-daemon src/main.c

override_dh_auto_clean:
	rm -f src/my-daemon

override_dh_auto_install:
	# Install the binary
	install -D -m 755 src/my-daemon debian/my-daemon/usr/sbin/my-daemon